a {
  text-decoration: none;
  color: rgb(250, 245, 245);
}

input,
select {
  max-width: 200px;
  height: 30px;
  font-size: 20px;
}

textarea {
  font-size: 20px;
  max-width: 530px;
  height: 430px;
}

ol{
	font-size: 25px;
}

footer{
	background-color:gray;
	text-align: center;
	font-size: 20px
}

.page-header h1 {
  text-align: center;
}

.codeOutput div{
	max-width:100%;
	height:100%;
}

.page-header {
  max-width: "100%";
  height: 70px;
  text-align: right;
}

.navigation-bar-left {
  max-width: 45%;
  height: 50px;
  background-color: rgb(216, 211, 211);
  float: left;
}

.navigation-bar-right {
  max-width: 50%;
  height: 50px;
  background-color: rgb(216, 211, 211);
  float: right;
  text-align: center;
}

.navigation-bar-left img {
  max-width: 50px;
  height: 50px;
  border-radius: 5%;
}

.navigation-bar-left a{
	border-radius: 5%;
	height:50px;
	font-size: 30px;
	background-color: rgb(11, 155, 140);
}

.workspace {
  max-width: 100%;
  height: 550px;
}

.codeOutput {
  max-width: 600px;
  height: 400px;
  float: center;
  margin: 50px;
  border-radius: 5%;
  text-align: left;
}

.question {
  max-width: 500px;
  height: 250px;
  margin-left: 50px;
}
.answer {
  max-width: 500px;
  height: 200px;
  margin-left: auto 0;
  border-radius: 5%;
}

.answer input{
	margin: 0 200px;
}

.message {
  max-width: 600px;
  height: 400px;
	border-radius: 5%;
	margin:auto 50px;
}

#next{
	text-align: center;
}

#inputPart {
  max-width: 45%;
  height: 480px;
  float: left;
  background-color: rgb(236, 234, 234);
}

#outputPart {
  max-width: 700px;
  height: 480px;
  float: right;
}

#output {
  max-width: 600px;
  height: 400px;
  float: center;
  margin: 50px;
  border-radius: 5%;
  text-align: center;
}

.resultPart {
  max-width: 700px;
  height: 480px;
  float: right;
}

#message{
	padding-top: 155px;
}